/* untuk tablet ukuran maksimum 1000px */
@media all and (max-width: 1000px) {
  .h1-content {
    position: relative;
    top: -10%;
  }

  .content-left {
    position: relative;
    top: -2%;
  }

  .content-right {
    position: relative;
    top: -70%;
    left: 10%;
  }

  .menu-items {
    display: none;
    position: relative;
    left: 60%;
    top: -60%;
  }

  .header-list {
    float: left;
    position: relative;
    left: -8%;
    top: -90%;
  }
}

/* untuk smartphone ukuran maksimum 670px */
@media all and (max-width: 670px) {
}
